:root {
  --fontColor: #f3f3fa;
  --headersColor: #df144c;
  --red: #df144c;
  --yellow: #ffc843;
  --numberColor: #df144c;
  --ambassadorsBtnBgColor: #00b3e3;
  --ambassadorsBtnColor: #070094;
  --ambassadorsBtnBgColor-hover: #df144c;
  --ambassadorsBtnColor-hover: #f3f3fa;
}

.menuMobile-list__reg,
.menuPC-list__reg {
  display: none;
}

/* mobile frst */

.mainPart--ambasadori {
  padding: 65px 15px 65px 20px;
}

.mainPart--ambasadori__h1 {
  color: var(--headersColor);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.mainPart--ambasadori__h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

.mainPart--ambasadori__p1 {
  margin-bottom: 15px;
}

.mainPart--ambasadori__ol {
  margin-bottom: 25px;
  list-style-type: none;
}

.am-card {
  margin-top: 35px;
  padding: 10px 5px 10px 10px;
  border-radius: 5px;
  border: 0.5px solid #99999914;
  box-shadow: 6px 5px 6px -5px #9999998b;
}

.mainPart--ambasadori__ol__li1,
.mainPart--ambasadori__ol__li2,
.mainPart--ambasadori__ol__li3,
.mainPart--ambasadori__ol__li4 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

.am-card__icon {
  width: 55px;
}

.mainPart--ambasadori__ol__li__num,
.mainPart--ambasadori__ul__li__num {
  font-family: "Catamaran";
  font-weight: bold;
  font-size: 30px;
  color: var(--numberColor);
}

.mainPart--ambasadori__ul {
  list-style-type: none;
  padding-left: 10px;
}

.mainPart--ambasadori__ul__li {
  margin-bottom: 5px;
}

.mainPart--ambasadori__ul__li4-span,
.mainPart--ambasadori__p2-span {
  font-weight: 500;
  color: var(--red);
}

.mainPart--ambasadori__p2 {
  margin: 15px 0 0 10px;
}

.mainPart--ambasadori__p3 {
  margin-top: 15px;
}

.mainPart--ambasadori__p3--a {
  /*color: var(--fontColor);*/
  display: inline-block;
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 15px;
  background-color: var(--ambassadorsBtnBgColor);
  color: var(--ambassadorsBtnColor);
  font-family: "Catamaran", sans-serif;
  font-weight: 700;
  text-decoration: none;
}

.mainPart--ambasadori__p3--a:hover {
  color: var(--ambassadorsBtnColor-hover);
  background-color: var(--ambassadorsBtnBgColor-hover);
}

/* tablet */
/* 600px + */

@media screen and (min-width: 600px) {
  .mainPart--ambasadori {
    padding: 65px 20px 65px 25px;
  }

  .mainPart--ambasadori__h1 {
    margin-bottom: 15px;
  }
}

/* 750px + */
@media screen and (min-width: 750px) {
  .mainPart--ambasadori {
    padding: 65px 25px 65px 25px;
  }

  .am-card1,
  .am-card3 {
    position: relative;
  }

  .mainPart--ambasadori__ol__li1 {
    position: absolute;
    top: 26%;
  }

  .mainPart--ambasadori__ol__li3 {
    position: absolute;
    top: 35.8%;
  }
  .mainPart--ambasadori__ol,
  .mainPart--ambasadori__ul {
    padding-left: 15px;
  }

  .mainPart--ambasadori__ol,
  .mainPart--ambasadori__ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .am-card {
    flex: 1 1 350px;
    padding-bottom: 15px;
  }

  .mainPart--ambasadori__p2 {
    margin-left: 15px;
  }
}

/* 850px + */
@media screen and (min-width: 850px) {
  .mainPart--ambasadori-container {
    width: 750px;
    margin: 0 auto;
  }

  .mainPart--ambasadori__h1 {
    margin-bottom: 25px;
  }

  .am-card {
    padding: 15px;
  }

  .am-card3,
  .am-card4,
  .am-card2-3 {
    margin-top: 15px;
  }
}
