:root {
  --fontColor: #f3f3fa;
  --headersColor: #df144c;
  --red: #df144c;
  --yellow: #ffc843;
}

.menuMobile-list__reg,
.menuPC-list__reg {
  display: none;
}

/* mobile frst */

.mainPart--kontakt {
  padding: 65px 15px 65px 20px;
}

.mainPart--kontakt__h1 {
  color: var(--headersColor);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.mainPart--kontakt__p1 {
  margin-bottom: 10px;
}

.mainPart--kontakt--a {
  color: var(--fontColor);
}

.mainPart--kontakt--a:hover {
  color: var(--yellow);
}

/* tablet */
/* 600px + */

@media screen and (min-width: 600px) {
  .mainPart--kontakt {
    padding: 65px 20px 5px 25px;
  }

  .mainPart--kontakt__h1 {
    margin-bottom: 15px;
  }
}

/* 750px + */
@media screen and (min-width: 750px) {
  .mainPart--kontakt {
    padding: 65px 25px 65px 25px;
  }
}

/* 850px + */
@media screen and (min-width: 850px) {
  .mainPart--kontakt-container {
    width: 750px;
    margin: 0 auto;
  }

  .mainPart--kontakt__h1 {
    margin-bottom: 25px;
  }
}
